<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BZK</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="entete">
                <div class="logo">
                    <img class="image_logo" src="images/logo.jpg" alt="logo buzz na kin">
                </div>
                <div class="right menu search_input">
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Chercher...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar">
                <div class="ui secondary  menu">
                    <a class="active item">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Accueil
                            </font>
                        </font>
                    </a>
                    <a class="item">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Messages
                            </font>
                        </font>
                    </a>
                    <a class="item">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Amis
                            </font>
                        </font>
                    </a>

                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="annonce_page">
                    <h1>Des Live et Show na Buzz Na Kin</h1>
                </div>
                <div class="slider">
                    <figure>
                        <img class="image_slider" src="images/kin_image.jpg" alt="kinshasa vue du fleuve">
                        <span class="texte_slide">Vivez des moments mouvementés <br> et de la sensation avec <br> Buzz Na Kin</span>
                    </figure>

                </div>
            </section>
            <section>
                <div class="evenement_culturel">
                    <h2>Evénements culturels</h2>
                </div>
                <div class="slider slider2">
                    <div class="ui card">
                        <a class="image" href="#">
                            <img class="image_slider" src="images/download.jpeg" alt="kinshasa vue du fleuve">
                        </a>
                        <div class="content">
                            <a class="header" href="#">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Master Class 1</font>
                                </font>
                            </a>
                            <div class="meta">
                                <a>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus officiis necessitatibus facere quas quam adipisci atque debitis iusto repellat quibusdam, nam quos velit consectetur, accusantium distinctio,
                                            molestias minus excepturi.</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui card">
                        <a class="image" href="#">
                            <img class="image_slider" src="images/download.jpeg" alt="kinshasa vue du fleuve">
                        </a>
                        <div class="content">
                            <a class="header" href="#">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Master Class 2</font>
                                </font>
                            </a>
                            <div class="meta">
                                <a>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus officiis necessitatibus facere quas quam adipisci atque debitis iusto repellat quibusdam, nam quos velit consectetur, accusantium distinctio,
                                            molestias minus excepturi.</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="news">
                    <h2>Nos News</h2>
                </div>
                <div class="slider slider2">
                    <div class="ui card">
                        <a class="image" href="#">
                            <img class="image_slider" src="images/download.jpeg" alt="kinshasa vue du fleuve">
                        </a>
                        <div class="content">
                            <a class="header" href="#">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">News 1</font>
                                </font>
                            </a>
                            <div class="meta">
                                <a>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus officiis necessitatibus facere quas quam adipisci atque debitis iusto repellat quibusdam, nam quos velit consectetur, accusantium distinctio,
                                            molestias minus excepturi.</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui card">
                        <a class="image" href="#">
                            <img class="image_slider" src="images/download.jpeg" alt="kinshasa vue du fleuve">
                        </a>
                        <div class="content">
                            <a class="header" href="#">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">News 2</font>
                                </font>
                            </a>
                            <div class="meta">
                                <a>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus officiis necessitatibus facere quas quam adipisci atque debitis iusto repellat quibusdam, nam quos velit consectetur, accusantium distinctio,
                                            molestias minus excepturi.</font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="titre_footer">
                <h2>Buzz Na Kin</h2>
            </div>
            <div class="social_network">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </footer>
    </div>
</body>

</html>